/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/**
 * 1. Minus the padding left on the col makes sure the spacing is correct
 * 2. Not all to force 100% width on mobile (Downside of mobile first)
 */

.cols{
    @include clearfix;
    margin-left:-$spacing-unit; /* [1] */
}

    .col{
        display:inline-block;
        vertical-align:top;
        padding-left:$spacing-unit;

        @include respond(not-all){
            width:100% !important; /* [2] */
        }
    }

.cols > .col{
    margin:0;
}

/**
 * 1. Add attribute of class to layout based on position of the sidebar i.e.
 *    sidebar-left for sidebar on the left sidebar-right for sidebar on right
 */

.sidebar-left{ /* [1] */

    @include respond(medium){

        .page-sidebar{ float:left; }

        .page-content{ margin-left:$base-sidebar-width + $base-sidebar-spacing; }
    }
}

.sidebar-right{ /* [1] */

    @include respond(medium){

        .page-sidebar{ float:right; }

        .page-content{ margin-right:$base-sidebar-width + $base-sidebar-spacing; }
    }
}

body{
    padding-top:$header-height-mobile;

    @include respond(large){
        padding-top:$header-height;
    }
}

.span24{
    width:100%;
}

.span20{
    width:83.33%;
}

.span12{
    width:50%;
}

.span8{
    width:33.3%;
}

.span6{
    width:25%;
}

.span4{
    width:16.66%;
}