---
layout: default
title: PHP London Meetups
class: meetups
weight: 2
---

<div class="row">
    <div class="wrapper">
        <div class="cols">
            <div class="col span24">
                <h1>Our next meetup</h1>
				{% for meetup in site.data.meetups limit:1 %}
				{% assign speaker = site.data.speakers[meetup.speaker] %}
				<div class="meetup-highlight">
					<div class="calendar-container">
						<ul class="calendar">
	                        <li class="calendar__month">{{meetup.date  | date: "%B" }}</li>
	                        <li class="calendar__day">{{meetup.date  | date: "%d" }}</li>
	                        <li class="calendar__year">{{meetup.date  | date: "%Y" }}</li>
	                    </ul>
	                </div>
	                <div class="meetup-hightlight__details">
	                    <span class="meetup-highlight__talk">{{meetup.talk}}</span>
	                    <span class="meetup-highlight__speaker"><strong>Speaker:</strong> {{speaker.name}}</span>
	                    <p>{{meetup.synopsis}}</p>
	                    <p><strong>About the speaker:</strong><br>
	                    {{speaker.bio | truncatewords:20}}<br>
	                    <a href="/speakers#{{meetup.speaker}}">Full bio</a>
	                    </p>
		                <div class="location">
		                    <i class="icon icon--small icon--red icon--pin">
		                        {% include icons/icon-pin.svg %}
		                    </i>
		                    <span class="location__name">
		                        {% assign location = site.data.locations[meetup.location] %}
		                        {{location.name}}
		                    </span>
		                    <span class="location__address">
		                        {% assign location = site.data.locations[meetup.location] %}
		                        <a href="https://maps.google.co.uk/?q={{location.address}}" target="_blank">
		                        {{location.address}}
		                        </a>
		                    </span>
		                </div>
		            </div>
				{% endfor %}
		    </div>
		</div>
	</div>
</div>
<div class="row row--light">
    <div class="wrapper">
        <div class="cols">
            <div class="col span24">
		        <h2>Past meetups</h2>
		        <ul class="meetup-list">
		        {% for meetup in site.data.meetups offset:1 %}
				  <li class="meetup-list__item col span8">
				      {{ meetup.date }}
				      {{ meetup.speaker }}
				  </li>
				{% endfor %}
				</ul>
		    </div>
		</div>
	</div>
</div>