.meetup-highlight{
	padding:30px 0;

	.calendar-container{
		float:left;
		width:25%;
		border-top:1px solid $color-brand-secondary;
		border-bottom:1px solid $color-brand-secondary;

		@include respond(large){
			width:10%;
		}
	}

	.calendar{
		font-size:1.4em;
		color:$color-brand-secondary;
	}

	&__details{
		margin-left:13%;
		width:80%;

		@include respond(large){
			width:87%;
			float: left;
		}
	}

	&__talk{
		line-height:1.2em;

		@include respond(large){
			line-height:1em;
		}
	}

	.register {
		margin: 20px 0;
	}
}

.meetup-list{
	padding-top:10px !important;

	&__item{
		padding-bottom:30px;
	}

	&__date{
		display:block;
		color:$color-brand-secondary;
	}

	&__talk{
		display:block;
		font-weight:bold;
		font-size:1.1em;
		color:$color-brand-primary;
	}

	&__speaker{
		display:block;
		color:$color-brand-tertiary;
	}

	&__link{
		display:block;
		color:$color-brand-secondary;
	}
}