.meetup-highlight{
	.calendar-container{
		float:left;
		width:10%;
	}

	.calendar{
		font-size:1.4em;
		color:$color-brand-tertiary;
	}
}

.meetup-hightlight__details{
	margin-left:15%;
	width:85%;
}