.header{
	position:fixed;
    top:0;
    left:0;
    right:0;
    padding:$header-padding 0;
	background:$color-brand-primary;
    z-index:10;
}

.header-logo{
    height:$logo-height-mobile;
    width:auto;

    @include respond(large){
        height:$logo-height;
    }
}

.site-nav{
    list-style-type:none;
    margin:0;
    padding:0;
    width:100%;
    background:#262627;
    top:$header-height-mobile;
    position:absolute;
    left:0;
    display:none;

    @include respond(large){
        position:static;
        display:inline-block;
        float:right;
        margin:15px 0 0 0;
        list-style:none;
        line-height:0;
        text-align:right;
        width:auto;
    }

    &.is-visible{
        display:block;
    }
}

    .site-nav--item{
        display:block;
        text-align:center;
        padding:25px 0 20px 0;
        border-top:1px solid $color-white;

        @include respond(large){
            display:inline-block;
            padding:0 14px;
            border:none;
        }

        a{
            display:block;
            padding:8px 0;
            font-family:"PT Sans Caption", Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size:$base-font-size;
            font-weight:500;
            line-height:1;
            text-transform:uppercase;
            letter-spacing:0.26em;
            color:$color-white;
        }

        @include respond(large){

           &__highlight{
                padding-left:12px;
                padding-right:9px;
                border:1px solid $color-white;
                border-radius:$base-radius;
            }
        }
    }


.main-menu{
    display:none;

    @include respond(large) {
        display:inline-block;
    }
}

.site-nav__home{
	display:inline-block;
	margin:$header-padding auto;

    @include respond(large) {
        float:left;
    }

	img{
		display:block;
		max-width:100%;
	}
}