.content-area{

	.cols{
		padding-top:$header-height/2;
		padding-bottom:$header-height/2;
	}
}

p{
	margin-bottom:1em;
	line-height:1.5em;
}

.intro{
	font-size:1.6rem;
	line-height:1.4em;
}

.intro-secondary{
	font-size:1.1rem;
	opacity:0.9;
}

.row--light{
	background:$color-light;
}

.row--highlight{
	background:$color-brand-secondary;
}

.row--dark{
	background:#b5d2dd;
}

.number{
	display:block;
	float:left;
	margin:0 30px 0 0;
	width:120px;
	height:120px;
	font-size:5em;
	line-height:120px;
	color:#fff;
	text-align:center;
	border:1px solid #fff;
	border-radius:100%;
}

#main {
	@include respond(large) {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0px auto -110px;
	}
}