.content-area{

	.cols{
		padding-top:$header-height/2;
		padding-bottom:$header-height/2;
	}
}

p{
	margin-bottom:1em;
	line-height:1.5em;
}

.intro{
	font-size:1.6rem;
	line-height:1.4em;
}

.intro-secondary{
	font-size:1.1rem;
	opacity:0.9;
}

.row--light{
	background:$color-light;
}
.row--highlight{
	background:$color-brand-secondary;
}