.site-nav--item__highlight a{
    padding-left:0;
    padding-right:0;
    border:0;
    border-radius:0;
}

.nav-toggle{
    cursor:pointer;
    line-height:1;
    display:inline-block;
    padding:10px;
    border:0;
    background-color:#31BACD;
    position:absolute;
    right:25px;

    @include respond(large){
        display:none;
    }
}

.icon-menu{
    position:relative;
    display:inline-block;
    width:28px;
    height:20px;
    vertical-align:middle;
    fill:none;

    .line{
        position:absolute;
        left:0;
        display:block;
        width:100%;
        height:4px;
        background:#FFFFFF;
        @include transition(all, 0.25s);
        @include prefix((
            transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1)
        ), webkit moz);
    }

    .line-1{
        top:0;

        .is-active &{
            -webkit-transform:translateY(8px) translateX(0) rotate(45deg);
            -ms-transform:translateY(8px) translateX(0) rotate(45deg);
            transform:translateY(8px) translateX(0) rotate(45deg);
        }
    }

    .line-2{
        top:50%;
        margin-top:-2px;

        .is-active &{
            opacity:0;
        }
    }

    .line-3{
        bottom:0;

        .is-active &{
            -webkit-transform:translateY(-8px) translateX(0) rotate(-45deg);
            -ms-transform:translateY(-8px) translateX(0) rotate(-45deg);
            transform:translateY(-8px) translateX(0) rotate(-45deg);
        }
    }
}