<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <title>PHP London</title>
        <link rel="stylesheet" type="text/css" media="all" href="/assets/resets.css">
        <link rel="stylesheet" type="text/css" media="all" href="/assets/1140.css">
        <link rel="stylesheet" type="text/css" media="all" href="/assets/style.css">
        <link rel="stylesheet" type="text/css" media="all" href="/assets/media-styles.css">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="canonical" href="http://phplondon.org/">
    </head>
    <body>
        <div id="page" class="hfeed">
            <header id="branding" role="banner">
                <hgroup>
                    <nav id="access-mobile">
                        <div class="menu-phplon-mobile">
                            <ul id="menu-phplon" class="menu">
                                <li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-6 current_page_item menu-item-15">
                                    <a href="/about">About</a>
                                </li>
                                <li id="menu-item-23" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-23">
                                    <a href="http://phpconference.co.uk">PHP UK Conference</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div id="phplon-logo">
                        <a href="/" rel="Home">
                            <img src="/assets/Logo.png" alt="Logo">
                        </a>
                     </div> 
                </hgroup>
            </header>
            <div id="main">
                <div id="main-container" class="row">
                    <div class="threecol">
                        <nav id="access" role="navigation">
                            <p class="menu-heading">FIND OUT MORE</p>
                            <div id="menu-container">
                                <div class="menu-phplon-container">
                                    <ul id="menu-phplon-1" class="menu">
                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15">
                                            <a href="/about">About</a>
                                            <img src="/assets/menu-bullet.png" class="list-image" height="12px" width="12px">
                                        </li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-23">
                                            <a href="http://phpconference.co.uk">PHP UK Conference</a>
                                            <img src="/assets/menu-bullet.png" class="list-image" height="12px" width="12px">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <div id="social">
                            <p class="menu-heading">GET INVOLVED</p>
                            <div class="row">
                                <a href="http://www.meetup.com/phplondon/">
                                    <img src="/assets/Social1.png" class="alignright">
                                </a>
                            </div>
                            <div class="row">
                                <a href="https://twitter.com/PHPLondon">
                                    <img src="/assets/Social2.png" class="alignright">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="primary" class="ninecol last">
                        <div id="primary-container">
                            <div id="home-content" role="main">
                                <div id="meetup-date">
                                    <div id="next-meetup">
                                        <b>Next Meeting: July 3rd 2014 - 7pm<br></b>
                                    </div>
                                    <img class="map-pin" src="/assets/MapPin.png" alt="MapPin">
                                </div>
                                <div id="home-top-row" class="row">
                                {{content}}
                                </div>
                            </div>
                        </div>
                        <div id="footer" class="footer">
                            <p> PHP London Limited is registered in England and Wales. Company number: 6770512. VAT number: 943 4927 00.</p>
                            <p>Help us make this site better: 
                                <a href="https://github.com/phplondon/phplondon.github.io">Raise an issue on Github</a>
                            </p>
                        </div>
                        <script src="/assets/ga.js" async="" type="text/javascript"></script>
                        <script src="/assets/jquery-1.js"></script>
                        <script src="/assets/css3-mediaqueries.js"></script>
                        <script type="text/javascript">

                          var _gaq = _gaq || [];
                          _gaq.push(['_setAccount', 'UA-37179901-1']);
                          _gaq.push(['_trackPageview']);

                          (function() {
                            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                          })();

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
