<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <title>PHP London - The London PHP Meetup</title>
        <link rel="stylesheet" type="text/css" media="all" href="/assets/css/screen.css">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="canonical" href="http://www.phplondon.org/">
    </head>
    <body>
        <header class="header">
            <div class="wrapper">
                <div class="cols">
                    <div class="col span24">
                        <a href="/" rel="Home" class="inline-block">
                            <img src="/assets/images/php-london.png" alt="PHP London Logo" class="header-logo">
                        </a>
                        <ul class="site-nav">
                            <li class="site-nav--item"><a href="/meetups">Meetups</a></li>
                            <li class="site-nav--item"><a href="/sponsor">Sponsor</a></li>
                            <li class="site-nav--item"><a href="http://jobs.phplondon.org">Job board</a></li>
                            <li class="site-nav--item site-nav--item__highlight"><a href="/get-involved">Get involved</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div id="main" class="content-area">
            {{content}}
        </div>
        <footer class="footer">
            <div class="wrapper">
                <div class="cols">
                    <div class="col">
                        <p>&copy; PHP London. Help us make this site better: 
                            <a href="https://github.com/phplondon/phplondon.github.io">Raise an issue on Github</a>
                        </p>
                        <p><a href="/conduct">Code of Conduct</a></p>
                    </div>
                </div>
            </div>
        </footer>
        {% include analytics.html %}
    </body>
</html>